/*global style*/

header {
    text-align: center;
    border-bottom: 10px;
    padding-bottom: 75px;
}

#diverGuy {
    max-width: 300px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.scoreBoard {
    padding-bottom: 50px;
}